*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto";
}

.main-content{
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 100px;
  padding-right: 20px;
  padding-left: 20px;
}